@{
    ViewBag.Title = "Contact Us";
}
<div class="jumbotron" id="contact-banner">
    <h1><img src="@Url.Content("~/Content/images/logo.png")" alt="" /></h1>
    <p><a href="https://www.gss.org/make-a-donation/" class="btn btn-primary btn-large">DONATE NOW &raquo;</a></p>
</div>


<h2>@ViewBag.Title.</h2>

<address>
    CORPORATE OFFICE
    8861 75 Street
    Edmonton, AB T6C 4G8
    Phone: (780) 431-3600
    Toll Free: 1-877-437-3600
    Email: goodsaminfo@gss.org

    For information regarding the following, please contact:

    BC Regional Office	(250) 862-3440
    Communications	(780) 431-3700
    Fund Development	(780) 431-3814
    Payroll and Benefits Help Line	(780) 431-4848 (Edmonton Area) or 1-877-788-4848 (Outside Area)
    Southern AB Regional Office	(403) 320-0455
    Good Samaritan TeleCare®
    (780) 431-3630, 1-800-676-8397 or telecareinfo@gss.org

    Volunteering	goodsaminfo@gss.org
    For Internal Use Only
    Staff Webmail  https://webmail.gss.org
</address>