@{
    ViewBag.Title = "The Good Samaritan - Manage Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Manage Roles</h1>
    <br/><br/>
    <p>
        <a href="Roles" class="btn btn-primary btn-lg">Add A Role To A User</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="Remove" class="btn btn-primary btn-lg">Remove A Role From A User</a>
    </p>
</div>
