@{
    ViewBag.Title = "The Good Samaritan - Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Manage Users</h1>
    <br/><br/>
    <p>
        <a href="Suspend" class="btn btn-primary btn-lg">Suspend A User</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="Unsuspend" class="btn btn-primary btn-lg">Unsuspend A User</a>
    </p>
</div>
